<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028416657389-5nm9487u8stuif3l3dp47l30qpljj72c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028416657389-5nm9487u8stuif3l3dp47l30qpljj72c</string>
	<key>API_KEY</key>
	<string>AIzaSyDc0OtgDWPNsl1qwDBZ_ApXHDnfS9F6jZU</string>
	<key>GCM_SENDER_ID</key>
	<string>1028416657389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.analysisSmile</string>
	<key>PROJECT_ID</key>
	<string>analyze-9ef22</string>
	<key>STORAGE_BUCKET</key>
	<string>analyze-9ef22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028416657389:ios:d79a1754c693fb9eb9b9e4</string>
</dict>
</plist>